---
layout: default
title: Achievements
---
<div class="row">
  <div class="col-md-12">
    <table
        id="achieve-list"
        class="table table-striped"
        data-toggle="table"
        data-search="true"
        data-sort-name="week"
        data-sort-order="asc"
         >
      <thead>
        <tr>
          <th data-field="icon" data-sortable="false"></th>
          <th data-field="achieve-name" data-sortable="true">Achievement</th>
          <th data-field="desc" data-sortable="false">Description</th>
          <th data-field="week" data-sortable="true" data-sorter="weekSort" >Phase</th>
        </tr>
      </thead>
      <tbody>
        {% for ach in site.data.achievements | sort: 'number', 'week'  %}
        {% if ach.week <= 1 %}
        <tr>
          <td class="text-center">{% include ach-icon.html icon=ach.number %}</td>
          <td><strong>{{ ach.ach_name }}</strong></td>
          <td>{{ ach.desc }}</td>
          <td class="text-center">{% case ach.week %}
            {% when 0 %}
            Ongoing
            {% when 1 %}
            First Week
            {% when 2 %}
            Second Week
            {% when 3 %}
            Third Week
            {% when 4 %}
            Fourth Week
          {% endcase %}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  function getNo(a) {
    var i = 0;
    switch (a.trim()) {
      case "Ongoing":
        i = 0;
        break;
      case "First Week":
        i = 1;
        break;
      case "Second Week":
        i = 2;
        break;
      case "Third Week":
        i = 3;
        break;
      case "Fourth Week":
        i = 4;
        break;
      default:
        i = 0;
    }
    return i;
  }

  function weekSort(a, b) {
    var i = getNo(a);
    var j = getNo(b);
    if (i < j) return -1;
    if (i > j) return 1;
    return 0;
  }
</script>
