---
layout: default
title: Teams
---

<!-- <div class="row">
  <div class="col-md-12 text-center">
    <p>Have a Team? <a href="/register">Register</a>!</p>
  </div>
</div> -->
<div class="row">
  <div class="col-md-12">
    <table
        id="team-list"
        class="table table-striped"
        data-toggle="table"
        data-sort-name="team-name"
        data-sort-order="asc"
        data-search="true"
         >
      <thead>
        <tr>
          <th data-field="team-name" data-sortable="true">Team Name</th>
          <th data-field="team-links" data-sortable="false"></th>
          <th data-field="game-name" data-sortable="true">Game Submission</th>
          <th data-field="game-links" data-sortable="false"></th>
          <th data-field="points" data-sortable="true">Points</th>
        </tr>
      </thead>
      <tbody>
        {% assign ach_count = 0 %}
        {% if site.data.teams %}

        {% for team in site.data.teams %}
        <tr>
          <td>
            <strong><a href="/teams/{{ team.team_name | slugify }}">{{ team.team_name }}</a></strong>
          </td>
          <td>
            {% if team.github %}{% include github-link.html link=team.github %}{% endif %}
            {% if team.twitter %}{% include twitter-link.html link=team.twitter %}{% endif %}
          </td>
          <td>
            {% if team.game %}
              {{ team.game }}
            {% endif %}
          </td>
          <td>
            {% if team.game %}
              {% if team.itch %}{% include itch-link.html link=team.itch %}{% endif %}
            {% endif %}
          </td>
          <td>

            {% if team.achieves %}
            {% assign ach_no = team.achieves.size %}
            {% else %}
            {% assign ach_no = 0 %}
            {% endif %}
            {% assign ach_count = ach_count | plus: ach_no %}
            {% include trophy.html count=ach_no  %}

          </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="5" class="text-center">No Teams Registered</td>
        </tr>
        {% endif %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="2" class="text-right">Total Teams: {{ site.data.teams | size }}</td>
          <td></td>
          <th colspan="2" class="text-right">Total Points: {{ ach_count }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
