
<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-2">
        {% image made-in-st-louis height:60px %}
      </div>

      <div class="col-md-8  text-center">
        <p class="text-info">{% icon fa-copyright %}<strong>2016 Saint Louis Game Dev Duel</strong></p>
      </div>

      <div class="col-md-2  text-right">

          <a href="#top" class="btn btn-default text-primary"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
              {% icon fa-chevron-up text-primary %}</i> Back to Top
          </a>

      </div>
    </div>
  </div>
</footer>

<script>
  $(function () {
    $('.table').on('sort.bs.table', function(e, name, order) {
      setTimeout(function() {
        $('[data-toggle="tooltip"]').tooltip();
      }, 10);
    });

    $('[data-toggle="tooltip"]').tooltip();

  });
</script>
