<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body role="document" >

    {% include navbar.html %}

    <div class="container" role="main" >

      <div class="row">
        <div class="col-md-10">

              <h1><small>{% if page.achieves %}
              {% assign ach_no = page.achieves.size %}
              {% else %}
              {% assign ach_no = 0 %}
              {% endif %}
              {% include trophy.html count=ach_no 2x=false %}</small>

              <strong>{{ page.team_name }}</strong></h1>


        </div>
        <div class="col-md-2 text-right">
          {% if page.github %}{% include github-link.html link=page.github %}{% endif %}
          {% if page.twitter %}{% include twitter-link.html link=page.twitter %}{% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">{% if page.game %}{{ page.game }}{% else %}TBD{% endif %}</h2>
          <div>
            {% if page.titlescreen %}
            {% img titles/{{\ page.titlescreen\ }} height:240px width:320px class:"img-thumbnail img-responsive center-block" %}
            {% else %}
            {% img titles/blank height:240px width:320px class:"img-thumbnail img-responsive center-block" %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          {% if page.itch %}<a href="{{ page.itch }}">View on Itch.io</a>{% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Team Members</h2>
          <table
              id="member-list"
              class="table table-striped"
              data-toggle="table"
              data-sort-name="member-name"
              data-sort-order="asc"
               >
            <thead>
              <tr>
                <th data-field="member-name" data-sortable="true">Member Name</th>
                <th data-field="member-links" data-sortable="false"></th>
              </tr>
            </thead>
            <tbody>
              {% for member in page.members %}
                <tr>
                  <td>{{ member.name }}</td>
                  <td class="text-right">{% if member.github %}{% include github-link.html link=member.github %}{% endif %}
                    {% if member.twitter %}{% include twitter-link.html link=member.twitter %}{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Earned Achievements</h2>
          <div class="progress">

            {% assign percent = ach_no | times:100 | divided_by:site.data.achievements.size %}
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
              {{ percent }}%
            </div>
          </div>
          <div class="achieves panel panel-default">
            <div class="panel-body">
              <ul class="ach-list ">
                {% if page.achieves %}
                {% for ach in page.achieves %}
                <li >{% include ach-icon.html icon=ach %}</li>
                {% endfor %}
                {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
